# Logto (Traditional Web)
LOGTO_ISSUER=https://auth.deepacquire.com/oidc
LOGTO_JWKS_URI=https://auth.deepacquire.com/oidc/jwks
LOGTO_APP_ID=6p53kcej5oe9skvwfh6yp
LOGTO_APP_SECRET=
LOGTO_SCOPES=openid profile email offline_access


