---
import Content from '~/components/widgets/Content.astro';
import Layout from '~/layouts/PageLayout.astro';
const metadata = {
  title: 'About us',
};
---

<Layout metadata={metadata}>
  <Content title="DeepAcquire" subtitle="Supercharge your mind with AI power—fast!">
    <Fragment slot="content">
      <p>We were founded in 2025.</p>
      <p>
        Our original dream was this: now that we have super‑intelligent AI, how can people quickly gain and integrate
        AI’s intelligence?
      </p>
      <p>
        To call on AI’s intelligence as naturally as we use our own minds—or to enable our minds to rapidly gain AI‑like
        capabilities.
      </p>
      <p>
        Guided by this vision, we built our first product, <span class="font-semibold text-accent"
          >Acquire Language</span
        >. It uses AI to accelerate how people acquire multiple languages.
      </p>
      <p>This is just the beginning…</p>
    </Fragment>
  </Content>
</Layout>
