---
import Content from '~/components/widgets/Content.astro';
import Layout from '~/layouts/PageLayout.astro';
import aboutImg from '~/assets/images/acquire/about-us.jpg';
const metadata = {
  title: '关于我们',
};
---

<Layout metadata={metadata}>
  <Content
    title="DeepAcquire"
    subtitle="用 AI 加速你的心智——更快！"
    image={`<img src="${aboutImg.src}" alt="关于我们" class="mx-auto w-full rounded-lg bg-gray-500 shadow-lg" loading="lazy" />`}
  >
    <Fragment slot="content">
      <p>我们成立于 2025 年。</p>
      <p>我们最初的愿景是：既然已经拥有超级智能的 AI，人类如何能快速获得并融合 AI 的智慧？</p>
      <p>像运用自己的心智一样自然地调用 AI 的智慧——或者我们的大脑能够快速拥有 AI 般的能力。</p>
      <p>
        在这个愿景的引导下，我们打造了第一款产品，<span class="font-semibold text-accent">Acquire Language</span>。它以
        AI 加速多语言学习。
      </p>
      <p>这只是一个开始……</p>
    </Fragment>
  </Content>
</Layout>
